
@{
    Layout = null;
}

<h1> Employee with id @Model.Id</h1>
<br />
<p> ID : @Model.Id</p>
<p> Name : @Model.Name</p>
<p> Email : @Model.email</p>
<p> Address : @Model.Address</p>
<p> Salary : @Model.Salary</p>
<p> Office_id : @Model.office_id</p>
